# Ambiente virtual
.venv/
venv/

# Cache Python
__pycache__/
*.pyc

# Streamlit
.streamlit/

# Dados grandes (opcional, mas recomendado)
data/processed/

# Sistema
.DS_Store
Thumbs.db

# Notebooks exploratórios
notebooks/*.ipynb

# Dados grandes
data/raw/*.csv
